.body { 
  display: grid;
  grid-template-areas: 
    "padding-header-left header padding-header-right"
    "padding-content-left content padding-content-right"
    "footer footer footer";
  grid-template-rows: 120px 1fr 60px;
  grid-template-columns: 20% 1fr 20%;
  grid-gap: 10px;
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgb(0, 16, 36) 0%, rgba(12,9,121,1) 33%, rgba(0,212,255,1) 100%);
}
.header, .footer, .content {
  padding: 20px;
}
.header {
  grid-area: header;
  color: aliceblue;
}
.footer {
  grid-area: footer;
}
.title{
  display: inline-block;
}
.content { 
  grid-area: content;      
}
/* Upload */
.upload {
  margin: 10px 0;
}
.file_upload {
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.file_upload_no_chosen {
  margin-left: 0.3rem;
}
.drop_area {
  display: block;
  padding: 4rem;
  text-align: center;
  border-radius: 0.5rem;
  border: dashed white;
  margin: 20px 0;
}
.sign_out {
  float: right;
  margin: 17px 0;
}
